@{
    ViewData["Title"] = "Přístup odepřen";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="lead">Nemáte oprávnění pro přístup k tomuto zdroji.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Zpět na domovskou stránku</a>
</header>