@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v Hotelovém systému</h1>
    <p>Pro zobrazení rezervační tabule přejděte na <a asp-controller="BookingChart" asp-action="Index">Rezervační štafle</a>.</p>
</div>